name: Build
on:
    push:
    workflow_dispatch:
jobs:
    build-macos-clang:
        name: macOS
        runs-on: macos-15
        env:
            CFLAGS: -Werror
            MACOSX_DEPLOYMENT_TARGET: 15
            CMAKE_OSX_ARCHITECTURES: arm64
        steps:
            - uses: actions/checkout@v4

            - name: Build Cocoa library
              run: |
                  cmake -B build-cocoa -D BUILD_SHARED_LIBS=ON
                  cmake --build build-cocoa --parallel 4
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  path: build-cocoa-shared/
